<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Datos y Resultado de la Inferencia</title>
</head>
<body>
    <h1>Ingrese sus Datos</h1>
    <form action="/inferencia" method="post">
        <label for="obesidad">¿Padece de obesidad?</label>
        <input type="checkbox" id="obesidad" name="obesidad" value="1"><br>
        
        <label for="historial_familiar">¿Tiene historial familiar de diabetes tipo 2?</label>
        <input type="checkbox" id="historial_familiar" name="historial_familiar" value="1"><br>

        <label for="sedentarismo">¿Lleva un estilo de vida sedentario?</label>
        <input type="checkbox" id="sedentarismo" name="sedentarismo" value="1"><br>
        
        <button type="submit">Consultar</button>
    </form>

    {% if resultado %}
    <h2>Resultado de la inferencia</h2>
    <div>
        <label>Factor de riesgo de diabetes para: {{ valores_usuario }}</label>
        <p>{{ resultado }}</p>
    </div>
    <div>
        <label>Tratamiento recomendado:</label>
        <p>{{ tratamiento }}</p>
    </div>
    <a href="/">Volver al inicio</a>
    {% endif %}
</body>
</html>
