<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <h1>Resultado de la inferencia</h1>
    <div>
        <label>Factor de riesgo de diabetes para: {{ valores_usuario }}</label>
        <p>{{ resultado }}</p>
    </div>
    <div>
        <label>Tratamiento recomendado:</label>
        <p>{{ tratamiento }}</p>
    </div>
    <a href="/">Volver al inicio</a>
</body>
</html>
